* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


/* GENERICS */
.debug {
    border: 2px dashed black;
}

body {
    background-color: violet;
}

/* HEADER */
header {
    height: 500px;
}

nav {
    height: 20%;
    display: flex;
    justify-content: space-between;
    justify-content: center;
    align-items: center;
    align-content: center;
}

.nav-left {
    width: 10%;
    background-color: lime;
    text-align: left;
}

.nav-mid {
    width: 50%;    
    background-color: lime;
    text-align: center;
}

.nav-right{
    width: 10%;
    background-color: lime;
    text-align: right;
}


.header-section {
    height: 80%;
    background-color: darkblue;
    display: flex;
    justify-content: center;
    align-items: center;
}

.header-content {
    height: 80%;
    width: 60%;
    background-color: fuchsia;
}

