* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* GENERICS----------------------------- */
header {
    background-color: violet;
}

.debug {
    border: 2px dashed black;
}

.debug1 {
    border: 2px dashed white;
}

/* HEADER ----------------------------------------*/
nav {
    margin: 0 15%;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
}

.nav-left {
    flex-grow: 1;
    background-color: lime;
    text-align: left;
}

.nav-mid {
    flex-grow: 3;   
    background-color: lime;
    text-align: center;
}

.nav-right{
    flex-grow: 1;
    background-color: lime;
    text-align: right;
}


.header-section {
    height: 400px;
    background-color: darkblue;
    display: flex;
    justify-content: center;
    align-items: center;
}

.header-content {
    height: 80%;
    width: 55%;
    background-color: fuchsia;
}

/*  MAIN ------------------------------------------------- */
.content-container1 {
    height: 400px;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

.content-container2 {
    background-color: lightgray;
    height: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row-reverse;
}

.content-container3 {
    height: 600px;
    background-color: lightgray;
    display: flex;
    justify-content: center;
    align-items: center;
}

.content1 {
    height: 80%;
    width: 40%;
    background-color: cornflowerblue;
}

.content2 {
    height: 80%;
    width: 30%;
    background-color: pink;
}

.content3 {
    height: 80%;
    width: 70%;
    background-color: green;
}

/* FOOTER ---------------------------------------*/
.footer-container1 {
    height: 400px;
    padding-top: 10px;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    background-color: black;
}

.footer-content1 {
    width: 30%;
    height: calc(100% - 20px);
    background-color: salmon;
}

.footer-content2{
    width: 10%;
    height: calc(100% - 20px);
    background-color: seagreen;
}

.footer-container2 {
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    border-top: 1px solid grey;
    background-color: black;
}

.footer-content3 {
    width: 70%;
    height: 80%;
    background-color: lightgray;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.item {
    background-color: pink;
}